<nb-card [nbSpinner]="loading" nbSpinnerStatus="danger" >
  <nb-card-header>
      Relátorio de Saldo de Clientes
  </nb-card-header>
  <nb-card-body>
      <nb-alert *ngIf="existeErro" status="danger" closable>Favor preencher todos os campos obrigatorios!</nb-alert>

      <div  [formGroup]="formularioFiltro">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                  <label for="cliente" class="label">*Cliente</label><br>
                  <nb-select placeholder="" fullWidth  status="primary" formControlName="cliente" >
                    <nb-option value="T">Todos</nb-option>
                      <nb-option *ngFor="let cliente of listaClientes" [value]="cliente.id" >{{cliente.nome}}</nb-option>
                    </nb-select>
              </div>
          </div>
          </div>
      </div>

  </nb-card-body>
  <nb-card-footer>
    <div class="row">
      <div class="col-md-1">
        <button (click)="pesquisar()" type="submit" nbButton status="primary">Gerar</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>


<ng-template  #dialog let-data let-ref="dialogRef">
  <nb-card class="scrool" [nbSpinner]="loadingModal" nbSpinnerStatus="danger" style="width: 100%;"  >
    <nb-card-body>
      <div id="content"   #content>
        <div class="row">
          <div class="col-md-12" style="text-align: center;">
            <img class="img-fluid" width="100px" height="100px" src="assets/logos/logo_grande.png" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align: center;">
            <h3>Relatório de Saldo de Clientes</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table #tabela id="tabela"  class="table" style="font-size: 10px; font-family: 'Courier New', Courier, monospace;" >
              <thead>
                  <tr style="font-weight: bold; ">
                      <td>ID</td>
                      <td style="width: 280px;">CLIENTE</td>
                      <td>SALDO ATUAL</td>
                      <td>LIMITE</td>
                      <td>SALDO FINAL</td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let transacoes of listaSaldosClientes">
                      <td>{{transacoes.id}}</td>
                      <td style="width: 280px;">{{transacoes.cliente}}</td>
                      <td>{{transacoes.saldoAtual}}</td>
                      <td>{{transacoes.limite}}</td>
                      <td>{{transacoes.saldoFinal}}</td> 
                  </tr>
                  <tr>
                    <td></td>
                    <td style="text-align: right;font-weight: bold;">Totais:</td>
                    <td style="font-weight: bold;">{{saldoAtualTotal}}</td>
                    <td style="font-weight: bold;">{{limiteTotal}}</td>
                    <td style="font-weight: bold;">{{saldoFinalTotal}}</td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>

          <button nbButton (click)="ref.close()">Fechar</button>
          &nbsp;&nbsp;&nbsp;
          <button (click)="gerarPdf()" type="submit" nbButton status="danger" >Download em PDF</button>
          &nbsp;&nbsp;&nbsp;
          <button (click)="gerarExcel()" type="submit" nbButton status="success" >Download em Excel</button>

    </nb-card-footer>
  </nb-card>
</ng-template>