


  :host {

    ::ng-deep {
      ng2-st-tbody-edit-delete {
        display: none;
        height: 0 !important;
      }
    
      ng2-st-tbody-custom {
        display: flex;
        text-align: center;
      }

      ng2-smart-table { font-size: medium; }


      tr.remove i.nb-trash{display:none;}
      tr.aprove i.nb-checkmark {display:none;}
  
    }
    

  }  

 