<nb-card> 
    <nb-card-header>{{tituloPagina}} </nb-card-header>
    <nb-card-body *ngIf="estabelecimentoOld">
    <nb-alert *ngIf="existeErro" status="danger" closable>Favor preencher todos os campos obrigatorios!</nb-alert>
    <form  [formGroup]="formulario">
        <nb-tabset>
            <nb-tab tabTitle="Dados de Identificação">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="nome" class="label">*Nome/Razão Social</label>
                            <input type="text" class="form-control" maxlength="45"
                            [ngClass]="{'is-invalid': formulario.get('nome').errors  && formulario.get('nome').touched}"
                              nbInput fullWidth placeholder="" formControlName="nome"  />
                              <div *ngIf="formulario.get('nome').hasError('required')  && formulario.get('nome').touched" class="invalid-feedback">
                                Campo é obrigatório.
                              </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="cnpjCpf" class="label">*CPF/CNPJ</label>
                            <input type="text" class="form-control" maxlength="14"
                            [ngClass]="{'is-invalid': formulario.get('cnpjCpf').errors  && formulario.get('cnpjCpf').touched}"
                              nbInput fullWidth placeholder="" formControlName="cnpjCpf" />
                              <div *ngIf="formulario.get('cnpjCpf').hasError('required')  && formulario.get('cnpjCpf').touched" class="invalid-feedback">
                                Campo é obrigatório.
                              </div>
                              <div *ngIf="formulario.get('cnpjCpf').getError('cpfNotValid')" class="invalid-feedback">
                                CPF invalido.
                              </div>
                              <div *ngIf="formulario.get('cnpjCpf').getError('cnpjNotValid')" class="invalid-feedback">
                                CNPJ invalido.
                              </div>
                        </div>
                    </div>
                </div>

                <div  class="row ">

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="cep" class="label">*Cep</label>
                            <input type="text" class="form-control" maxlength="8"
                            [ngClass]="{'is-invalid': formulario.get('cep').errors  && formulario.get('cep').touched}"
                              nbInput fullWidth placeholder="" formControlName="cep" />
                              <div *ngIf="formulario.get('cep').hasError('required')  && formulario.get('cep').touched" class="invalid-feedback">
                                Campo é obrigatório.
                              </div>
                          </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="form-group">
                          <label for="nome" class="label">*Endereço</label>
                          <input type="text" class="form-control" maxlength="45"
                          [ngClass]="{'is-invalid': formulario.get('endereco').errors  && formulario.get('endereco').touched}"
                            nbInput fullWidth placeholder="" formControlName="endereco" />
                            <div *ngIf="formulario.get('endereco').hasError('required')  && formulario.get('endereco').touched" class="invalid-feedback">
                              Campo é obrigatório.
                            </div>
                        </div>
                    </div>
                </div>

                <div  class="row ">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="bairro" class="label">*Bairro</label>
                            <input type="text" class="form-control" maxlength="45"
                            [ngClass]="{'is-invalid': formulario.get('bairro').errors  && formulario.get('bairro').touched}"
                              nbInput fullWidth placeholder="" formControlName="bairro" />
                              <div *ngIf="formulario.get('bairro').hasError('required')  && formulario.get('bairro').touched" class="invalid-feedback">
                                Campo é obrigatório.
                              </div>
                          </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="cidade" class="label">*Cidade</label>
                            <input type="text" class="form-control" maxlength="45"
                            [ngClass]="{'is-invalid': formulario.get('cidade').errors  && formulario.get('cidade').touched}"
                              nbInput fullWidth placeholder="" formControlName="cidade" />
                              <div *ngIf="formulario.get('cidade').hasError('required')  && formulario.get('cidade').touched" class="invalid-feedback">
                                Campo é obrigatório.
                              </div>
                          </div>
                    </div>
                    <div class="col-sm-4">
                        <label for="estado" class="label">*Estado</label><br>
                        <nb-select placeholder="Selecione" formControlName="estado">
                          <nb-option *ngFor="let estado of listaestadosBrasileiros" [value]="estado.sigla" >{{estado.sigla}}-{{estado.nome}}</nb-option>
                        </nb-select>
                    </div>
                </div>

                <div  class="row ">
                    <div class="col-sm-4"> 
                        <div class="form-group">
                            <label for="numEstabelecimento" class="label">*Número do Estabelecimento</label>
                            <input type="text" class="form-control" maxlength="45"
                            [ngClass]="{'is-invalid': formulario.get('numEstabelecimento').errors  && formulario.get('numEstabelecimento').touched}"
                              nbInput fullWidth placeholder="" formControlName="numEstabelecimento" />
                              <div *ngIf="formulario.get('numEstabelecimento').hasError('required')  && formulario.get('numEstabelecimento').touched" class="invalid-feedback">
                                Campo é obrigatório.
                              </div>
                          </div>
                    </div>
                    <div class="col-sm-4"> 
                        <label for="opeId" class="label">*Operadora</label><br>
                        <nb-select id="opeId" placeholder="Selecione" formControlName="opeId" >
                          <nb-option *ngFor="let operadora of listaOperadoras" [value]="operadora.id">{{operadora.nome}}</nb-option>
                        </nb-select>
                    </div>

                    <div class="col-sm-4">
                        <label for="status" class="label">*Status</label><br>
                        <nb-select id="status" placeholder="Selecione" formControlName="status"  selected="A">
                          <nb-option value="A">Ativo</nb-option>
                          <nb-option value="I">Inativo</nb-option>
                        </nb-select>
                    </div>
                </div>
            </nb-tab>
            <nb-tab tabTitle="Dados Bancários">
                <div  class="row ">
                    <div class="col-sm-12">
                        <label for="cocId" class="label">*Conta Caixa onde o valores serão creditados</label><br>
                        <nb-select id="cocId" placeholder="Selecione" formControlName="cocId">
                          <nb-option *ngFor="let conta of listaContaCaixa" [value]="conta.id">{{conta.descricao}}</nb-option>
                        </nb-select>
                    </div>
                </div>
            </nb-tab>
            <nb-tab tabTitle="Configurações">
              <div  class="row ">
                <div class="col-sm-8"> 
                  <div class="form-group">
                      <label for="token" class="label">*Token PagSeguro</label>
                      <input type="text" class="form-control" maxlength="100"
                      [ngClass]="{'is-invalid': formulario.get('token').errors  && formulario.get('token').touched}"
                        nbInput fullWidth placeholder="" formControlName="token" />
                        <div *ngIf="formulario.get('token').hasError('required')  && formulario.get('token').touched" class="invalid-feedback">
                          Campo é obrigatório.
                        </div>
                  </div>
                </div>
                <div class="col-sm-4"> 
                  <div class="form-group">
                      <label for="email" class="label">*Email PagSeguro</label>
                      <input type="text" class="form-control" maxlength="100"
                      [ngClass]="{'is-invalid': formulario.get('email').errors  && formulario.get('email').touched}"
                        nbInput fullWidth placeholder="" formControlName="email" />
                        <div *ngIf="formulario.get('email').hasError('required')  && formulario.get('email').touched" class="invalid-feedback">
                          Campo é obrigatório.
                        </div>
                        <div *ngIf="formulario.get('email').hasError('email')  && formulario.get('email').touched" class="invalid-feedback">
                          Email invalido.
                        </div>
                  </div>
                </div>
              </div>
            </nb-tab>
        </nb-tabset>
    </form>
</nb-card-body>
<nb-card-footer>
    <div class="row">
        <div class="col-sm-1">
            <button nbButton (click)="submit()" status="success" >Salvar</button>
        </div>
        <div class="col-sm-1">
            <button nbButton (click)="voltar()" >Voltar</button>
        </div>
    </div>
</nb-card-footer>
</nb-card>
