<nb-card>
    <nb-card-header>
        Filtro
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="formulario">
        <div class="row">
            <div class="col-md-2">
              <label for="tipo" class="label">Tipo do Filtro</label><br>
              <nb-select placeholder="Tipo do Filtro"  status="primary" formControlName="tipo">
                  <nb-option value="0">Todos</nb-option>
                  <nb-option value="1">Nome</nb-option>
                  <nb-option value="2">CPF ou CNPJ</nb-option>
                </nb-select>
            </div>
            <div class="col-md-10"> 
              <label for="descricao" class="label">Descrição</label><br>
              <input type="text" nbInput fullWidth placeholder="" formControlName="descricao">
            </div>
        </div> <br />
        <div class="row">
          <div class="col-md-4">
              <label for="estabelecimento" class="label">Estabelecimento</label><br>
              <nb-select placeholder="Estabelecimento"  status="primary" formControlName="estabelecimento">
                <nb-option [value]="null">Todos</nb-option>
                <nb-option *ngFor="let estabelecimento of listaEstabelecimentos" [value]="estabelecimento.id">{{estabelecimento.numEstabelecimento}} - {{estabelecimento.nome}} ({{estabelecimento.id}} )</nb-option>
                </nb-select>
          </div>
          <div class="col-md-4">
              <label for="status" class="label">Status</label><br>
              <nb-select placeholder="Status"  status="primary" formControlName="status" >
                  <nb-option [value]="null">Todos</nb-option>
                  <nb-option value="A">Ativo</nb-option>
                  <nb-option value="I">Inativo</nb-option>
                </nb-select>
          </div>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
        <button (click)="pesquisar()" type="submit" nbButton status="primary">Filtrar</button>
    </nb-card-footer>
</nb-card>

<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-sm-8" style="padding-top: 15px;">
                Lista de Clientes
            </div>
            <div class="col-sm-2" style="text-align: right">
              <a  nbButton status="primary" routerLink="../cadastro/add" >Agrupamento</a>
            </div>
            <div class="col-sm-2" style="text-align: right">
                <a  nbButton status="primary" routerLink="../cadastro/add" >Novo</a>
            </div>
        </div>
      
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table 
      [settings]="settings" 
      [source]="source" 
      (custom)="onCustom($event)"
      >
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
