<nb-card> 
    <nb-card-header>{{tituloPagina}} </nb-card-header>
    <nb-card-body >
        <nb-alert *ngIf="existeErro" status="danger" closable>Favor preencher todos os campos obrigatorios!</nb-alert>
        <form [formGroup]="formulario">
            <div  class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="numTerminal" class="label">*Número do Terminal</label>
                        <input type="text" class="form-control" maxlength="45"
                        [ngClass]="{'is-invalid': formulario.get('numTerminal').errors  && formulario.get('numTerminal').touched}"
                          nbInput fullWidth placeholder="Número do Terminal" formControlName="numTerminal" />
                          <div *ngIf="formulario.get('numTerminal').hasError('required')  && formulario.get('numTerminal').touched" class="invalid-feedback">
                            Campo é obrigatório.
                          </div>
                      </div>
                </div>
                <div class="col-sm-8">
                    <label for="estId" class="label">*Estabelecimento</label><br>
                    <nb-select id="estId" placeholder="Selecione" formControlName="estId">
                      <nb-option *ngFor="let estabelecimento of listaEstabelecimentos" [value]="estabelecimento.id">{{estabelecimento.numEstabelecimento}} - {{estabelecimento.nome}} ({{estabelecimento.id}} )</nb-option>
                    </nb-select>
                </div>
            </div><br>
            <div  class="row">
                <div class="col-sm-4">
                    <label for="status" class="label">*Status</label><br>
                    <nb-select id="status" placeholder="Selecione" formControlName="status"  selected="A">
                      <nb-option value="A">Ativo</nb-option>
                      <nb-option value="I">Inativo</nb-option>
                    </nb-select>
                </div>
                <div class="col-sm-8">
                    <label for="estId" class="label">*Clientes</label><br>
                    <nb-select placeholder="Selecione">
                      <nb-option *ngFor="let estabelecimento of listaEstabelecimentos" [value]="estabelecimento.id">{{estabelecimento.numEstabelecimento}} - {{estabelecimento.nome}} ({{estabelecimento.id}} )</nb-option>
                    </nb-select>
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <div class="row">
            <div class="col-sm-1">
                <button nbButton (click)="submit()" status="success" >Salvar</button>
            </div>
            <div class="col-sm-1">
                <button nbButton (click)="voltar()" >Voltar</button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>
